* {
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    top: 10vh;

}

.context h1 {
    top: 30%;
    padding-top: 15%;
    text-align: center;
    color: #2d31ff;
    font-size: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;

}

.context h2 {
    text-align: justify;
    color: #5a8cff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 25%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.context h3 {
    text-align: justify;
    color: #5a8cff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 25%;
    padding-bottom: 5%;
    padding-top: 5%;
}


.area {
    background: #0c033d;
    background: -webkit-linear-gradient(to left, #8f94fb, #000000);
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: hidden;

}

.circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(22, 18, 255, 0.584);
    animation: animate 10s linear infinite;
    /* Faster animation duration */

    /* Adjusted bottom property for higher position on the screen */
    bottom: -300px;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 6s;
    /* Faster animation duration */
}

.circles li:nth-child(4) {
    left: 40%;
    width: 170px;
    height: 170px;
    animation-delay: 1s;
    animation-duration: 3s;
    /* Faster animation duration */
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 1s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 95px;
    height: 95px;
    animation-delay: 0s;
    animation-duration: 2s;
    /* Faster animation duration */
}

.circles li:nth-child(9) {
    left: 20%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 5s;
    /* Faster animation duration */
}

.circles li:nth-child(10) {
    left: 85%;
    width: 350px;
    height: 350px;
    animation-delay: 0s;
    animation-duration: 10s;
    /* Faster animation duration */
}

.circles li:nth-child(11) {
    left: 5%;
    width: 250px;
    height: 250px;
    animation-delay: 2s;
    animation-duration: 10s;
    /* Faster animation duration */
}

.circles li:nth-child(12) {
    left: 65%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 7s;
    /* Faster animation duration */
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-2000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}